body {
 font-style: oblique;
 color: white;
 background: url(http://cdn.wallpapersafari.com/51/98/qWAse0.jpg) no-repeat center center fixed;
 background-size: cover;
}

.container {
 top: 80px;
 margin-bottom: 100px;
}

.row {
	margin: 100px auto;
	max-width: 80%;
	background-color: gray;
	border-radius: 25px;
	padding: 30px;
}

h1 {
 font-weight: normal;
 margin: 0;
 text-align: center;
}

.margins {
	padding: 0;
	
}
.day{
 border-style: hidden;
 margin: auto;
 padding-bottom:5px;
 position: center;
 display: inline-block;
}

.day > div {
 font-weight: bold;
 line-height: 45px;
}

.weekday span {
 font-size: 16px;
 font-weight: bold;
}

.weekday,
.weather,
.high,
.low {
	padding: 0;
	text-align: center;
}

.weekday p {
 display: inline-block;
 font-size: 16px;
 font-weight: bold;
}

.weather img {
 width: 48px;
}

.weather p {
	font-size: 14px;
	margin-bottom: 0px;
}

.high p,
.low p,
.hourly .temp {
 font-size: 14px;
}

.hourly {
 text-align: center;
 display: none;
}

.hourly .hour {
 font-weight: bold;
 font-size: 14px;
}

.hourly img {
 width: 24px;
}

.last {
 margin-bottom: 100px;
}